body{
    width: 100vw;
    height: 100vh;
    background-color: #008c8a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    width: 817px;
    height: 584px;
    border-radius: 20px;
    background: #FFF;
}
.top-block{
    width: 817px;
    height: 172px;
    border-radius: 20px 20px 0 0;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-block p{
    color: #000;
    font-size: 40px;
}
.content{
    width: 660px;
    height: 230px;
    margin: 46px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.form{
    width: 660px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    width: 660px;
    height: 45px;
}
.form input{
    width: 660px;
    height: 59px;
    border: 1px solid #000000;
    font-size: 20px;
}
.form input{
    padding-left: 10px;
}
.buttons {
    width: 660px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons label{
    font-size: 25px;
    padding-right: 10px;
}
.buttons button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    border: 1px solid #000000;
}
